language: node_js
node_js:
- '0.12'
before_script:
- npm install
script:
- npm test
after_script:
- npm run coveralls
env:
  global:
    secure: gxj3OkY6GcAklqM9gHvxoKeMDM8Gm7MQK3JLBXzQq6BV40tlxlQcJWbYl/rbjf9jIUXKlSM26C7ii3x1wEGqP9cQneaPeVvs84hQYHS1rLCl9BsZEFgSYnHldvbImGLHx/VTYWmLVC1WFVkCvZPbVda9RPAilI7qr2nSAOH/FINRMfaspHOa44ygsj+hnanTWLXyFlPkGAIAHcQ/UB+dOL/d2SW8Fk0VS10HiRfAlSY/xGC/SXQZmO6s6dG5k4kuYStS4ahhcWNQktOX5sYpBGrfOapCPrU3LAvde8XCX68wLPu2t+oT2iVNjD+2U0Ta9nRsTV+xyOmoM78AdMO2Y4OHbeFwaHQdarl0oqNorJUCcVDls5BtTfa8QPSfcO253/whAkVVuCVVCJhrxBQtqlqFeaEEnFDgrmy1GvEUoXJYeeEMYw99wvJMSXISQQOyzF8bJokP4fLReLZQOwVplT0O5hrRdWYehO2hT9Hnk+fSxgR5Recu+ShjPTy5NA78EmlrTThKrvEpPh6TvWPFY/1Mk2ROT71gN9JX5eliOcClEZu1hwzyhmPMaY+9iPxxKyQ14s4zXELOfUvTpuCKPw2UozX/U5QP7jWuefVR8BolZscbuhnu97rb3yNbZsP0tYyU3zo0dFJUSWvMfdglBXXu8ASgG5jY2NHSOpRc4hI=
notifications:
  slack:
    secure: nfjZm7db9OQ1YQcASK9WFl6a+Bxo2B/Fwtkei+zo0AUCyDVV1gqQJe5boP5zdGntxZlvy52votmA/x2FOnuBBdd91h93mBxhWAhbYfBrXlcj6GuwAsdL6EXfHdU1epdAbbEowngO2Yfu4Xmpak0ihb7aRuK8s5l/Ie4D2lZdT10HeL3qg3ELu/57GOHTNDnJ1r5xKfVSWR0V7mjieBiquQWfryGeL0s1GzcXV2w9oL691cg76OK2sifNC0bTBwrkI9DKKhWfUkgRZBrs3uIMFBIz856o5637JxdMjXGM/IiDW7ZejDEztoVRJQQ1oC/YGxc7MTrT1nBjx7v1Vk9Cj8rEGffazewZT3Iy235dWZ24DyHhCbIxTBUCkOFlDM+A+fZzb4ro/vrQRnHkL0vPhtQGJ1Xf0gdg8kWVzGnZRdsk+Y12L2kesT1YZv3HKBbPcq5/3YLhmTPaiQxV1tjwqWy5v7XYy8Ch2pS6LGd4L4gNhNK7t3c7uRCFLm75U3L32NMnpWkHPzGlK9S04wUAQU715MSozW5Gg6JkGCARUDO1sFjwFqz+NhFcVmHJueMYxo9msPt9LEVjk4bhJeVpuNlcFGj4BckyPr2AA2JP53pe5U2zLHkH/pq3KfmKJqpWwUUJarFQCSPXz4fifPgOMiWp6fO/bi53gJM5dHY44qw=
